*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url('../images/mild-weather.jpg') no-repeat center center/cover fixed;
}

body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header {
  border-top: 2px solid #7a7966;
  border-bottom: 2px ridge #7a7966;
  padding: 10px 0 10px 0;
  background-image: linear-gradient( #cc0000, #ff6f00, #ffbf00, #fffb00); 
  -webkit-text-stroke: 0.75px #b5b498;
  color: black;
  text-align: center;
}

form {
  width: 50vw;
  position: relative;
  top: 25vh;
  left: 25vw;
  /*left: 50%;
  /*transform: translate(-50%, -40%);*/
  text-align: center;
  padding: 20px;
  background-color: rgba(99, 96, 96, 0.65);
  color: rgb(37, 23, 23);
  border-radius: 3px;
  -webkit-box-shadow: 3px 4px 10px -1px rgba(84,0,0,1);
  -moz-box-shadow: 3px 4px 10px -1px rgba(84,0,0,1);
  box-shadow: 3px 4px 10px -1px rgba(84,0,0,1);
}

#tempLabel {
  font-size: 5vw;
}

input[type=text] {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  -webkit-text-stroke: 0px #a3a3a0;
}

input[type=radio] {
  margin: 0 20px 0 0;
}

h2 {
  margin: 5px;
}

.scaleLabels {
  font-size: 35px;
}

button {
  padding: 10px;
  margin: 20px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(84,0,0);
  -webkit-text-stroke: 0px #a3a3a0;
  color:white;
}

p {
  font-size: 60px;
  margin: 10px;
}